.navigation
  .org-links
    .org-links--link
      a.org-links--link__text(href="https://blinktunnel.github.io/") GitHub

.org-name
  .org-name__element.org-name__blink Blink
  .org-name__element.orn-name__tunnel Tunnel